<div class="customer-sidebar">
  <div class="customer-info">
    <div class="customer-info-header flex justify-between align-center">
      <div class="customer-info-name flex align-center">
        <div class="customer-avatar"></div>
        <div class="customer-name-email">
          <div>Hello, <strong>{{ customer.name }}</strong></div>
          <div class="text-ellipsis">{{ customer.email }}</div>
        </div>
      </div> 
      <a href="{{ routes.account_logout_url }}" class="logout-button">Logout</a>
    </div>
    <div class="customer-total-spent flex justify-between align-center mt-14 mb-5">
      <div>Total spent: </div>
      <div>
        <strong>${{ total_spent | number_with_delimiter: ',' }}</strong>
      </div>
    </div>
    <div class="customer-tier flex justify-between align-center mb-14">
      <div>Tier — <strong>{{ tier }}</strong></div>
      <div>Points — <strong>{{ points }}</strong></div>
    </div>
    <div class="progress-container">
      <div class="progress-bar">
        <span class="progress-fill" style="width: {{ progress_percentage }}%;"></span>
      </div>
      <p class="progress-status">
        {% if tier == "BLACK DIAMOND" %}
          You have reached the highest tier!
        {% else %}
          Spend <strong>${{ remaining_amount | number_with_delimiter: ',' }}</strong> more to reach <strong>{{ next_tier }}</strong>.
        {% endif %}
      </p>
    </div>

  </div>
  <ul class="account-tabs">
    <li class="tab-link active" data-tab="rewards">Welcome to Helios</li>
    <li class="tab-link" data-tab="account">Account</li>
    <li class="tab-link" data-tab="orders">Orders</li>
    <li class="tab-link" data-tab="benefits">Benefits / Promos</li>
    {% comment %} <li class="tab-link" data-tab="discord">Helios Club</li> {% endcomment %}
    
    {% comment %}Render Custom Tabs from Blocks{% endcomment %}
    {% for block in section.blocks %}
      {% if block.type == 'custom_tab' %}
        <li class="tab-link" data-tab="custom-tab-{{ block.id }}">{{ block.settings.title }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
